/* The body font family*/
body
{
	font-family: 'Nunito', Georgia, sans-serif;	
}

/* The orange color of the main page*/
.landing{
	background: linear-gradient(rgba(244, 179, 80,0.9) 87%, #ECECEC);
	width:100%;
	height: 100%;
	min-height:100;
	
}
/* media query for viewport less than 995 px and greater than 768px */
@media screen and (max-width: 995px)
{
	#menubar li{
		margin-right: -20px;
		margin-top: -10px;
		font-size: 1em;
	}
}
/* Header margin from top is 10px*/

header{
	padding-top: 10px;

}

/* Header image is floated left */
header img{
	float: left;
	margin-top: 10px;
	
}
/*navigation bar top margin is 50px*/
#navigation{
	margin-top: 55px;
	float: right; /*-------------changed ----------*/
}

/* make all navigation elements inline-block i.e in the same horizontal line */
#navigation ul
{
	display: inline-block;
	float: right; /* ---------------------------------------------remove this from navigation */
}
/*move menubar slightly right from the image */
#menubar
{
	margin-left: 0px;
}

/* target the li of the menubar and give it font properties */
#menubar li, #register li{
	margin-left: 85px; /*---------------------reduce to 15px */
	font-size: 1.4em; /*--------------------reduce to 1 em */
	color: #036;
	font-weight: bold;
	letter-spacing: 1.1px;
	text-shadow: 2px 0 3px #ECECEC;


}

/* style the links inside the nav menubar */
.nav>li>a {
	display: inline;
	text-decoration: none;
	color: #036;
}

/*The register ul is floated right*/
#register{
	float: right;
}

/*The register span icons are given some spacing*/
#register span{
	margin-right: 10px;
}

/*margin from top navigation div*/
#description{
	margin-top: 40px;
	padding-bottom: 150px;
}

/* font property of description text */
#description p{
	font: normal 2em/1.5 'Nunito';
	font-weight: bold;
	color: #E4F1FE;
	text-align: center;
	display: inline-block;
	margin-top: 160px;
	letter-spacing: 0.5px;
	text-shadow: 2px 2px 5px #036;
	
}
/* remove extra white space between 2 container divs (between white page and green page)*/
p.container{
	margin-bottom: 0px;

}
/* this is the background for the second page */
.secondPage{
	background: -moz-radial-gradient(circle, lightblue 8%, #ECECEC 40%); /* For Firefox 3.6-15 */
  	background: radial-gradient(circle, lightblue 15%,#ECECEC 40%); /* Standard syntax */
}

/* pad the bottom of the events div */
#events
{
	padding-bottom: 70px;
}

/* style Eevents @ GW Desis */
#event_heading{
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	font-size: 2em;
	color: #036;
	letter-spacing: 1px;
	text-shadow: 2px 0px 3px lightgreen;
	margin-left: -30px;
	border-bottom: 2px solid lightblue;
}

/* style the third page */
.thirdPage{
	background: -moz-linear-gradient(to top,#87D37C 60%,#ECECEC); /* For Firefox */
  	background: linear-gradient(to top,#87D37C 60%,#ECECEC); /* Standard syntax */
}


/* Style event div on events page */
.singleevent{
	width:270px;
	height:320px;
	border: 3px solid lightblue;
	border-radius: 10px;
	background-color: #E4F1FE;
	text-align: center;
	display: inline-block;
	margin-left: 8%;
	margin-top: 30px;
	box-shadow: 0px 4px 5px lightblue;

}


/* style the images of events */

.singleevent img{
	width:100%;
	overflow:hidden;
	height:55%;
	opacity: 0.85;
	border-radius: 8px 8px 0 0;
	border-bottom: 3px solid lightblue;
	
}




.singleevent h4{
	color: #036;
	letter-spacing: 0.5px;
	text-shadow: 0 1px 3px lightgreen;
}


/*hover over events div */
.singleevent:hover{
	cursor: pointer;
	opacity: 0.7;
	
}
/* style the event descriptions */
.eventDesc{
	letter-spacing: 0.4px;
	font-size: 0.95em;
	color: #036;
	margin: 20px 5px;
}

#memberimg {

	border-radius: 100%;
	width:180px;
	height:170px;
	border: 1px solid white;
	opacity: 0.85;

}

.imgContainer{
	text-align: center;
	margin-top: 30px;
}	

#member_name{
	font-weight: bold;
	font-size: 1.3em;
	padding-top: 20px;
	letter-spacing: 0.85px;
	color: #036;
}

#member_post{
	font-weight: bold;
	font-size: 1.05em;
	letter-spacing: 0.85px;
	color: #035;
}

#toTop{
	padding: 6px 15px 0px 15px;
	bottom: -2px;
    right: 10px;
	position: fixed;
	border-radius: 4px 4px 0 0;
	background-color: #A2DED0;
	border: 2px solid #031;
	font-family: 'Nunito', sans-serif, Georgia;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	letter-spacing: 0.8px;
	vertical-align: middle;
	text-shadow: 3px 0 3px lightgreen;
	z-index: 1;
}

#toTop span{
color: #036;
margin-left: 2px;

}

#toTop a{
	text-decoration: none;
	color: #036;
	padding:10px;
}
